@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: arial;
    box-sizing: border-box;
}

body {
    margin-bottom: 200px;
}

a, ul {
    list-style: none;
    text-decoration: none;
    color: white;
}

img {
    max-width: 100%;
    display: block;
}

h1 {
    text-align: center;
    margin: 30px;
}


/*--------CSS FLEXBOX 1-------*/

.header {
    background-color: #0c0101;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 100px;
}

.menu {
    display: flex;
}

.menu a {
    margin-left: 10px;
    padding: 10px;
}

section.flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
    

}

div.imagens {
    flex: 1 1 200px;
    margin: 10px;
}


/*---------CSS GRID LAYOUT----------*/

section.grid {
    display: grid;
    grid-template-columns: auto auto auto;

    max-width: 1000px;
    margin: 0 auto;
}

div.imagens-grid1 {
    margin: 10px;
}

div.imagens-grid2 {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    margin: 10px;
}

div.anuncio {
    display: block;
    margin: 10px;
    grid-row: 2 / 5;
    border: 2px solid tomato;
}